@using BreezyTravels.Models.DTOs
@model FlightSearchDTO

@{
    ViewData["Title"] = "Home Page";
}


<div class="div-slider">
    <div class="container slider-container">
        <div class="carousel slide" data-ride="carousel" id="sliderHome">
            <div class="carousel-inner" role="listbox">
                <div class="item active"></div>
                <div class="item"></div>
            </div>
            <div>
                <a class="left carousel-control" href="#sliderHome" role="button" data-slide="prev">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#sliderHome" role="button" data-slide="next">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#sliderHome" data-slide-to="0" class="active"></li>
                <li data-target="#sliderHome" data-slide-to="1"></li>
            </ol>
        </div>
    </div>
</div>
<div class="container container-form" data-aos="fade-up" data-aos-duration="700" data-aos-delay="100" data-aos-once="true">
    <div class="col-lg-10 col-lg-push-1 col-md-10 col-md-push-1 col-sm-12 col-xs-12 kolom-pencarian">
        <form class="form-pencarian" method="post" action="/flights/search">
            <div class="row row-form-search">
                <div class="col-lg-6 col-md-6 col-sm-6 kolom-form">
                    <div class="div-judulstep">
                        <h4 class="judul-step">
                            <span>1 </span>Destinations
                        </h4>
                    </div>
                    <div class="div-txt">
                        <input class="form-control input-teks" type="text" placeholder="Dari" asp-for="From" name="From" id="From" > 
                        <a href="#" class="link-tukar">
                            <i class="fa fa-exchange"></i>
                        </a>
                        <input class="form-control input-teks" type="text" placeholder="Ke" name="To" id="To" asp-for="To">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 kolom-form">
                    <div class="div-judulstep">
                        <h4 class="judul-step">
                            <span>2 </span>Date of Flight
                        </h4>
                    </div>
                    <div>
                        <input class="form-control tgl-input" type="date" required="">
                        <div class="pretty circle primary">
                            <input type="radio" checked name="berangkat">
                            <label>
                                <i class="default"></i>One Way
                            </label>
                        </div>
                        <div class="pretty circle primary">
                            <input type="radio" name="berangkat">
                            <label>
                                <i class="default"></i>Return
                            </label>
                        </div>
                        <input class="form-control tgl-input" type="date" required="">
                    </div>
                </div>
            </div>
            <div class="wrap-form-btn">
                <button class="btn btn-default tombol-biru" type="submit">Search Flight's</button>
            </div>
        </form>
    </div>
</div>